@use '../library' as base;

.collection-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  &__header {
    width: 100%;
  }

  &__heading {
    font-size: base.toRem(48);
    line-height: base.toRem(72);
    letter-spacing: base.toRem(-0.48);
  }

  &__subheading {
    font-size: base.toRem(18);
    line-height: base.toRem(28);
    letter-spacing: base.toRem(-0.16);
    width: 100%;
  }

  &__actions {
    width: 100%;
    margin-top: base.toRem(50);
  }

  &__btn {
    width: base.toRem(245);
    height: base.toRem(78);
    margin-bottom: base.toRem(200);
  }

  &__footer {
    position: relative;
    z-index: 2;
    margin-top: base.toRem(200);
  }

  &__spiral {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

@include base.breakpoint-up(lg) {
  .collection-section {
    &__actions {
      width: 45%;
    }
  }
}

@include base.breakpoint-up(xl) {
  .collection-section {
    &__header {
      width: 100%;
  
      @include base.flex-start-between();
    }

    &__subheading {
      font-size: base.toRem(20);
      line-height: base.toRem(30);
      width: 50%;
    }

    &__footer {
      margin-top: base.toRem(211);
      margin-bottom: base.toRem(117);
    }
  }
}

@include base.breakpoint-custom-up(1400) {
  .collection-section {
    &__actions {
      width: 25%;
    }
  }
}
