@use '../library' as base;

.preview-page {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;

  &__body {
    display: grid;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &__panel {
    position: relative;
    z-index: 2;
    @include base.flex-center-between();
  }

  &__card {
    width: 100%;
    height: 40vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: base.toRem(100);
      border-bottom-right-radius: base.toRem(100);
    }
  }

  &__heading {
    font-weight: 800;
    font-size: base.toRem(28);
    line-height: base.toRem(45);
    letter-spacing: base.toRem(-0.16);
  }

  &__copy {
    font-weight: 400;
    font-size: base.toRem(18);
    line-height: base.toRem(28);
    letter-spacing: base.toRem(-0.16);
  }

  &__btn {
    width: base.toRem(180);
    height: base.toRem(65);
  }

  &__footer {
    margin-top: base.toRem(185);
    @include base.flex-center-between();
  }

  &__ellipse {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__spiral {
    display: none;
    position: absolute;
    bottom: 0;
    right: base.toRem(-250);
    z-index: 1;
  }
}

@include base.breakpoint-up(lg) {
  .preview-page {
    &__card {
      height: 55vh;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: base.toRem(155);
        border-bottom-right-radius: base.toRem(155);
      }
    }

    &__heading {
      font-size: base.toRem(32);
      line-height: base.toRem(40)
    }

    &__copy {
      width: 53%;
      font-size: base.toRem(20);
      line-height: base.toRem(30);
    }

    &__btn {
      width: base.toRem(208.64);
      height: base.toRem(78);
    }

    &__footer {
      @include base.flex-center-start();
    }

    &__ellipse {
      display: table;
    }

    &__spiral {
      display: table;
    }
  }
}
