$brand-accent: #fbaf00;
$brand-white: #ffffff;
$brand-black: #251a00;
$brand-accent-dark-100: #1a1405;
$brand-accent-dark-200: #110c00;

html:root {
  --brand-accent: #fbaf00;
  --brand-white: #ffffff;
  --brand-black: #251a00;
  --brand-accent-dark-100: #1a1405;
  --brand-accent-dark-200: #110c00;
}
